<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{% block titre %} {% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/styles.sass"/>
    <link rel="stylesheet" href="/static/css/_bootstrap.css"/>
</head>

<body>

<header class="m-4 text-bg-success">
    <a href="http://127.0.0.1:5000/">
        <img src="/static/images/tp1web3logo.jpg" alt="Logo">
    </a>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid mx-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/objet/liste">Liste des
                        objets</a>
                </li>
                {% if session.courriel %}
                    <li class="nav-item">
                        <a class="nav-link " href="/objet/ajouter">Ajouter un
                            objet</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not session.courriel %}
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/creer_compte">Créer un compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/authentifier">Se connecter</a>
                    </li>
                {% elif session.admin == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/creer_compte">Créer un compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/liste_utilisateur">Liste des utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/deconnecter">Se deconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/deconnecter">Se deconnecter</a>
                    </li>
                {% endif %}
            </ul>
            <form method="post" action="/objet/rechercher" class="d-flex mx-2">
                <div class="flex-column">
                    <input id="contenu" name="contenu" class="form-control me-2" autocomplete="off" type="search"
                           placeholder="Chercher"
                           aria-label="Search">
                    <div>
                        <ul id="divDesRecherches" class="list-unstyled position-absolute popover flex-column d-flex">

                        </ul>

                    </div>
                </div>
                <button class="btn btn-outline-light" type="submit">Chercher</button>
            </form>
        </div>
    </div>
</nav>

<main>

    {% block contenu %}
        <p>Voici une valeur par défaut</p>
    {% endblock %}

</main>

<footer>
    <div class="d-flex justify-content-between bg-secondary">
        <p class="m-2 text-decoration-underline mx-5">Par : Julien Beaumont et Pierre-Olivier Cadeau</p>
        <p class="m-2 text-decoration-underline mx-5">Pour : TP-2 420-05C-FX DÉVELOPPEMENT D'APPLICATIONS WEB </p>
    </div>
</footer>


<script src="/static/js/utils-ajax.js"></script>
<script src="/static/js/recherche.js"></script>
{% block script %} {% endblock %}
</body>

</html>
