{% extends "base.jinja" %}

{% block contenu %}

    <section>
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-6 d-flex justify-content-center m-4 p-3 border-dark"
                 style="width: 18rem;">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        {% for o in utilisateur %}
                            <li class="list-group-item">o.courriel</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}