{% extends "base.jinja" %}

{% block contenu %}

    <section>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="retroactions bg-success text-black m-2 p-2 rounded fs-2">
                    <p>{{ message[0] }}</p>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row justify-content-center m-4 p-3">
            {% for o in utilisateur %}
                <div id="{{ o.courriel }}" class="col-md-4" >
                    <div class="card m-2">
                        <form class="card-body" method="POST" action="/comptes/liste_utilisateur">
                            <h5 class="card-title">{{ o.courriel }}</h5>
                            <input type="hidden" name="courriel" value="{{ o.courriel }}">
                            <input type="button" value="Supprimer" class="bouton_supprimer btn btn-danger" data-courriel="{{ o.courriel }}">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="/static/js/supprimerUtilisateur.js"></script>
{% endblock %}