{% extends "base.jinja" %}

{% block contenu %}

    <section>
        <div class="row justify-content-center m-4 p-3">
            {% for o in utilisateur %}
                <div class="col-md-4">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ o.courriel }}</h5>
                            <p class=""></p>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}