{% extends "base.jinja" %}

{% block titre %}
    Connexion | FAKE
{% endblock %}

{% block contenu %}

    <section class="m-4">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="retroactions bg-danger text-white m-2 p-2 rounded fs-2">
                    <p>{{ message[0] }}</p>
                </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-center">
            <form action="/objet/troqueur/{{ id_objet }}" method="post" class="border border-dark p-3 rounded fs-3 m-2">
                <div class="d-flex flex-column">
                    <label for="lst_objet" class="form-label">Liste d'objet détenu:</label>
                    <select id="lst_objet" name="lst_objet">
                        {% for o in objets %}
                        <option value="option1">{{ o.titre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex flex-row-reverse m-3">
                    <input class="px-3 btn btn-secondary" value="Troquer" type="submit">
                </div>
            </form>
        </div>
    </section>

{% endblock %}